extends ../layouts/noLogueado

block head
  link(rel="stylesheet", href="/css/explorerPublico.css")

block content
  h1 Explorar imágenes públicas

  if !imagenes || imagenes.length === 0
    p No hay imágenes públicas disponibles.
  else
    .imagenes-grid
      each img in imagenes
        - const srcImg = img.imagen.startsWith('http') ? img.imagen : `/img/obras/${img.imagen}`
        .imagen-card
          img.imagen-clickable(src=srcImg, alt=img.titulo)
          h4= img.titulo
          p 
          | Autor: 
          a(href=`/portafolio/${img.id_usuario}`) #{img.nombre} #{img.apellido}
          if img.comentarios && img.comentarios.length
            ul.comentarios
              each c in img.comentarios
                li
                  strong= `${c.nombre} ${c.apellido}: `
                  | #{c.descripcion}
